#previewBox{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#previewImg{
  max-width:90%;
  max-height:90%;
  border-radius:12px;
  background:#fff;
  padding:6px;
  box-shadow:0 0 20px #000;
  object-fit:contain;
  transition:transform .2s;
}

#previewImg:hover{
  transform:scale(1.02);
}

